<h3>Pick a date</h3>

<%= form_for @appointment, :url => wizard_path, :method => :put do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="availability">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @availability_by_date[date] %>
      <ul>
        <% @availability_by_date[date].each do |availability| %>
          <li><%= link_to availability.time, availability %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>


  <%= f.hidden_field :appointment_id, :value => @appointment.id %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, :style => "border-radius: 5px; color:black;" %>
  </div>
  
<% end %>

