<h2 id="appointment_form_heading"><%= I18n.t('helpers.appointment.welcome') %></h2><br />

<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t('helpers.appointment.district') %><br>
    <%= f.select :district, [[I18n.t('locations.hkisland.hkisland'), "Hong Kong Island"],[I18n.t('locations.kowloon.kowloon'), "Kowloon" ], [I18n.t('locations.newterritories.newterritories'), "New Territories"],[I18n.t('locations.islands.islands'), "Outlying Islands"]], :style => "border-radius: 5px;" %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.room') %>
    <%= f.select :rooms, [[I18n.t('helpers.appointment.rooms.one'), 1], [I18n.t('helpers.appointment.rooms.two'), 2], [I18n.t('helpers.appointment.rooms.three'), 3], [I18n.t('helpers.appointment.rooms.four'), 4], [I18n.t('helpers.appointment.rooms.five'), 5], [I18n.t('helpers.appointment.rooms.six'), 6]], :style => "border-radius: 5px;" %>
    <%= f.select :bathrooms, [[I18n.t('helpers.appointment.bathrooms.one'), 1], [I18n.t('helpers.appointment.bathrooms.two'), 2], [I18n.t('helpers.appointment.bathrooms.three'), 3], [I18n.t('helpers.appointment.bathrooms.four'), 4]], :style => "border-radius: 5px;" %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.big') %><%= f.text_field :size, :style => "border-radius: 5px; color:black;" %><%= I18n.t('helpers.appointment.sq') %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.extra') %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.laundry') %><%= f.check_box :laundry, {}, "Yes", "No" %>    <%= f.label I18n.t('helpers.appointment.fridge') %><%= f.check_box :fridge %>    <%= f.label I18n.t('helpers.appointment.oven') %><%= f.check_box :oven %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.cabinets') %><%= f.check_box :cabinets %>    <%= f.label I18n.t('helpers.appointment.windows') %><%= f.check_box :windows %>    <%= f.label I18n.t('helpers.appointment.walls') %><%= f.check_box :walls %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.pets') %><%= f.text_field :pets, :style => "border-radius: 5px; color:black;" %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.cleaner') %><%= f.number_field :number_of_cleaners %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.duration') %><%= f.text_field :duration, :style => "border-radius: 5px; color:black;" %>
  </div>
  <div class="field">
    <%= f.label I18n.t('helpers.appointment.supplies') %><%= f.check_box :supplies %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('helpers.appointment.next'), :class => 'btn btn-warning' %>
  </div>
<% end %>
<br />
<br />
<br />
<br />