<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interest_name %><br>
    <%= f.text_field :interest_name %>
  </div>
  <div class="field">
    <%= f.label :interest_email %><br>
    <%= f.text_field :interest_email %>
  </div>
  <div class="field">
    <%= f.label :interest_contact_number %><br>
    <%= f.number_field :interest_contact_number %>
  </div>
  <div class="field">
    <%= f.label :interest_area %><br>
    <%= f.text_field :interest_area %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
