<p id="notice"><%= notice %></p>

<p>
  <strong>Interest name:</strong>
  <%= @interest.interest_name %>
</p>

<p>
  <strong>Interest email:</strong>
  <%= @interest.interest_email %>
</p>

<p>
  <strong>Interest contact number:</strong>
  <%= @interest.interest_contact_number %>
</p>

<p>
  <strong>Interest area:</strong>
  <%= @interest.interest_area %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
