<%= form_for(@cleaner_application) do |f| %>
  <% if @cleaner_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cleaner_application.errors.count, "error") %> prohibited this cleaner_application from being saved:</h2>

      <ul>
      <% @cleaner_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Tell us your legal name:' %><br>
    <%= f.text_field :applicant_legal_name %>
  </div>
  <div class="field">
    <%= f.label 'Where do you live?' %><br>
    <%= f.select :applicant_area, [[I18n.t('locations.hkisland.hkisland'), "Hong Kong Island"],[I18n.t('locations.kowloon.kowloon'), "Kowloon" ], [I18n.t('locations.newterritories.newterritories'), "New Territories"], [I18n.t('locations.islands.islands'), "Outlying Islands"]], :style => "border-radius: 5px;" %>
  </div>
  <div class="field">
    <%= f.label 'Any email?' %><br>
    <%= f.text_field :applicant_email %>
  </div>
  <div class="field">
    <%= f.label 'Your contact number:' %><br>
    <%= f.text_field :applicant_contact_number %>
  </div>
  <div class="field">
    <%= f.label 'Lets meet! When are you good to meet?' %><br>
    <%= f.text_field :interview_time %>
  </div>
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

